{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
    <div class="container">

      {% include 'main_app/includes/inc_nav_bar.html' %}

      <div class="slideshow-container">
        <div class="mySlides fade">
          <div class="numbertext">1 / 4</div>
          <img src="{% static 'img/Slider-1.jpg' %}" style="width: 100%" alt="slider" />
          <div class="text">
            Добро пожаловать на сайт! Здесь будет самые главные новости Главное
            новости дня, прочитать
            <span>
              <a href="#">подробнее...</a>
            </span>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 4</div>
          <img src="{% static 'img/Slider-2.jpg' %}" style="width: 100%" alt="slider" />
          <div class="text">Второй слайд, отличные новости</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 4</div>
          <img src="{% static 'img/Slider-3.jpg' %}" style="width: 100%" alt="slider" />
          <div class="text">Здесь может быть → <a href="#">ссылка</a></div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">4 / 4</div>
          <img src="{% static 'img/Slider-4.jpg' %}" style="width: 100%" alt="slider" />
          <div class="text">
            <a href="#">Количество слайдов может быть увеличено</a>
          </div>
        </div>
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
        <br />
        <div style="text-align: center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(4)"></span>
        </div>
      </div>

      <div class="news-container">
        <br />
        <h1>Последние новости</h1>
          {% for news in news_list %}

        <div class="news-block">
          <img src="/files/{{ news.image }}" alt="" />
          <a href="{% url 'view-post' news.pk %}"
            ><h2>{{ news.name }}</h2>
              <h4>{{ news.author }}</h4>
            <p>{{ news.short_desc }}</p>
          </a>
        </div>
          {% endfor %}
      </div>
    </div>
{% endblock %}
