{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
      <title>{{ title|default:"Онлайн образовательный портал" }}</title>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {% block css %}
        <link rel="stylesheet" href="{% static 'style/style.css' %}" />
      {% endblock %}
  </head>
  <body>
  {% block content %}
  {% endblock %}

  {% block footer %}
    <div class="footer">
      <h5>© Talim.uz, {% now 'Y' %}. Все права защищены</h5>
    </div>
  {% endblock %}
  </body>
</html>
