{% extends 'auth_app/base.html' %}
{% load static %}

{% block content %}
    {% include 'main_app/includes/inc_nav_bar.html' %}
    <div class="login-container">
      <div class="login-box">
        <h2>Регистрация</h2>
        <hr />
        <form action="{% url 'auth_app:register' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
            {{ register_form.as_p }}
            <br>
            <button class="form-control" type="submit">Зарегистрироватся</button>
        </form>
          или
            <a href="{% url 'auth_app:login' %}"><button class="new_account">Войти</button></a>
            <a href="#"><button class="vk">Войти через Вконтакте</button></a>

      </div>
    </div>
{% endblock %}
